
    <br>
    <br>
    <br>


<section id="about">
    <a href="/home"><img src="assets/images/logo2.jpg" alt="logo" id="logo"></a>
    <div class="container mt-4 pt-4"> 
        <h1 class="text-center" id="abt">About Me</h1> 
        <div class="row mt-4">
            <div class="col-lg-4">
                <img src="assets/images/photo.jpg" class= "imageAboutPage" alt="photo">
            </div>

            <div class="col-lg-8">
                <p> Hello, I'm Alina Fadeeva. It's my personal portfolio website. I came to Canada in 2020 and now I'm studying at Centennial college, Software Engineering Program. 
                    I don't have a working experience yet but I spend most of my time coding to pursue career in web development. 
                </p>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <ul>
                            <li>Name: Alina Fadeeva</li>
                            <li>College: Centennial College, Toronto</li>
                            <li>Program: Software Engineering Technician</li>

                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>Interests: Web Development</li>
                            <li>Skills: HTML/CSS, Javascript, Bootstrap, React, Angular</li>
                            <li>Languages: English, Russian</li>

                        </ul>
                    </div>
                </div>
                <br>
                <h1 class="msthead">Mission Statement</h1>
                <div class="row mt-3">
                    <p class="mst"> 
                        "My mission is to enhance business growth of our customers with creative design, 
                        development and to deliver market defining high quality solutions that create value 
                        and reliable competitive advantage to customers around the globe." 
                </div>
                <br>
                <button type="button" class="btn btn-link" id="btn-cv"><a href="/assets/CV-updated.pdf" target="blank">Click here to download my CV</a></button> <br> <br> <br>
                <button type="button" class="btn btn-outline-dark" id="prj-btn"><a href="/projects" id="abt-link">My Projects &rarr;</a></button>
            </div>
        </div>
</section>