
    <br>
    <br>
    <br>

    <!-- contact section-->
    <a href="/home"><img src="assets/images/logo2.jpg" alt="logo" id="logo"></a>
    <form>
      <h2>Contact Me</h2> <br>
      <input class="form-control" id="first-name" type="text" required placeholder="First name" name="First-Name">
      <input class="form-control" type="text" required placeholder="Last name" name="Last-Name">
      <input class="form-control" id="eml" type="email" required placeholder="Email" name="Email">
      <input class="form-control" id="tel2" id="tel" type="tel" required placeholder="Phone Number" name="Phone Number">
      <textarea class="form-control" rows="6" required placeholder="Project Details" name="Message"></textarea>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Remember me</label>
      </div> <br>
      <button type="button" class="btn btn-success"><a href="/home" id="submit-link">Submit</a></button>
    </form>
    <img src="/assets/images/email.png" alt="email-pic" id="email-large-pic">
    
