<br>
<br>
<br>

<section id="portfolio">
    <a href="/home"><img src="assets/images/logo2.jpg" alt="logo" id="logo"></a>
    <div class="container mt-3">
        <h1 class="text-center">My Projects</h1>
        <div class="row">
            <div class="col-lg-4 mt-4">
                <div class="card">
                    <img class="card-img-top" src="assets/images/light-bulb.png" alt="Card image" id="brain-games-pic">
                    <div class="card-body">
                        <h4 class="card-title">Brain Games</h4>
                        <p class="card-text">5 simple games that can be launched in the terminal</p>
                        <div class="text-center">
                            <a href="https://github.com/alinarobertovna/frontend-project-lvl1" target="_blank" class="btn btn-success">Link</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card portfolioContent">
                    <img class="card-img-top" src="assets/images/professional-portfolio.png" id="portfolio-pic" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Portfolio Website</h4>
                        <p class="card-text">Portfolio Website created for a potential employer</p>
                        <div class="text-center">
                            <a href="https://github.com/alinarobertovna/portfolio_website" target="_blank" class="btn btn-success">Link</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card portfolioContent">
                    <img class="card-img-top" src="assets/images/calculator.png" alt="Card image" id="calc-pic">
                    <div class="card-body">
                        <h4 class="card-title">BMI Calculator</h4>
                        <p class="card-text">Calculates daily calories intake based on user's input</p>
                        <div class="text-center">
                            <a href="https://github.com/alinarobertovna/Web-Development-Assignments" target="_blank" class="btn btn-success">Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br> <br> 
        <button type="button" class="btn btn-outline-dark" id="srv-btn"><a href="/services" id="abt-link">My Services &rarr;</a></button>
</section> <br>
<a href="https://github.com/alinarobertovna" target="blank"><img src="assets/images/github.png" alt="github-logo" id="git"></a>