<br>
<br>
<br>

<!-- services section-->
<section id="services">
    <a href="/home"><img src="assets/images/logo2.jpg" alt="logo" id="logo"></a>
    <div class="container">
        <h1 class="text-center">Services</h1>
        <div class="row">
            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <img src="assets/images/data.png" alt="pic1" id="web-dev">
                        <h4 class="card-title mt-3">Website Development</h4>
                        <p class="card-text mt-3"> Web development can range from developing a simple single static page 
                            of plain text to complex web applications.
                        </p>
                    </div>
                </div>  
            </div>
            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <img src="assets/images/ux-design.png" alt="pic2" id="web-dev">
                        <h4 class="card-title mt-3">Website Design</h4>
                        <p class="card-text mt-3"> The different areas of web design 
                            include web graphic design; user interface design; authoring; 
                            user experience design; and search engine optimization.
                        </p>
                    </div>
                </div>  
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <img src="assets/images/file-upload.png" alt="pic2" id="web-dev">
                        <h4 class="card-title mt-3">Website Deployment</h4>
                        <p class="card-text mt-3">Includes deploying changes you have made to your website, typically code, from source control to an environment (typically development, staging, or live).
                        </p>
                    </div>
                </div>  
            </div>
        </div>
        </div>
    </div>
</section> <br> <br> <br>
<button type="button" class="btn btn-outline-dark" id="contact-btn"><a href="/contact" id="abt-link">My Contacts &rarr;</a></button>